<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ssu.mylook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MyLook"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".JungEunDBTest">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClotheViewActivity" />
        <activity android:name=".UpperBarActivity" />
        <activity android:name=".ClotheEditActivity" />
        <activity android:name=".TestSeungminActivity" />
        <activity android:name=".CoordiViewActivity" />
        <activity android:name=".CoordiMainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestJeongeun" />
        <activity
            android:name=".FavoriteColorActivity"
            android:exported="false"
            android:label="FavoriteColorActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FavoriteTagActivity"
            android:exported="false"
            android:label="FavoriteTagActivity"></activity>
        <activity
            android:name=".FavoriteClotheActivity"
            android:exported="false"
            android:label="FavoriteClotheActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UnfavoriteClotheActivity"
            android:exported="false"
            android:label="UnfavoriteClotheActivity"></activity>
        <activity android:name=".CoordiInfoEditActivity" />
        <activity android:name=".ClotheSearchActivity" />
        <activity android:name=".CoordiInfoRegisterActivity" />
        <activity
            android:name=".CoordiRegisterActivity"
            android:exported="false"
            android:label="CoordiRegisterActivity"></activity>
        <activity android:name=".StyleAnalysisActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClosetActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".TestRanActivity" />
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".ClotheRegisterActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ssu.mylook"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>