<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssu.mylook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MyLook"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ClotheViewActivity"></activity>
        <activity android:name=".BelowBarActivity" />
        <activity android:name=".UpperBarActivity" />
        <activity android:name=".ActivityTab3" />
        <activity android:name=".ActivityTab2" />
        <activity android:name=".ActivityTab1" />
        <activity android:name=".TestSeungminActivity" />
        <activity android:name=".CoordiViewActivity" />
        <activity android:name=".CoordiMainActivity" />
        <activity android:name=".TestJeongeun" />
        <activity android:name=".FavoriteColorActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FavoriteTagActivity" />
        <activity android:name=".FavoriteClotheActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UnfavoriteClotheActivity" />
        <activity android:name=".CoordiInfoEditActivity" />
        <activity android:name=".ClotheRegister" />
        <activity android:name=".ClotheSearchLayout" />
        <activity android:name=".CoordiEditActivity" />
        <activity android:name=".CoordiInfoRegisterActivity" />
        <activity android:name=".CoordiRegisterActivity" />
        <activity android:name=".StyleAnalysisActivity" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClosetActivity" />
        <activity android:name=".TestRanActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>